* {
    margin: 0;
    padding: 0;
    font-family: serif;
    box-sizing: border-box;
}

.home {
    width: 100%;
}

.home .top-banner {
    max-width: 100%;
    height: 340px;
    background: url("http://localhost:4500/image/slide-1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 60px;
}

.home .top-banner .content {
    width: 100%;
    position: relative;
    top: 20;
    padding: 10px 60px;
}

.home .top-banner .content h3 {
    text-transform: capitalize;
    color: #cd1e76;
    font-weight: 300;
    letter-spacing: 1px;
}

.home .top-banner .content h2 {
    text-transform: capitalize;
    color: #232323;
    font-size: 42px;
    letter-spacing: 1px;
    margin-top: 5px;
}

.home .top-banner .content p {
    color: #232323;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.home .top-banner .content .link {
    padding: 10px 30px;
    background: #fed700;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
    color: #232323;
}

.home .top-banner .content .link:hover {
    background: #cd1e76;
    color: #fed700;
}

.home .trending {
    width: 100%;
    padding: 20px 30px;
}

.home .trending .container {
    max-width: 100%;
    display: flex;
}

.home .trending .container .left-box {
    padding: 10px 20px;
    width: 75%;
}

.home .trending .container .left-box .header {
    display: flex;
    max-width: 100%;
    padding: 10px 10px;
    background: #f6f7f8;
    justify-content: space-between;
}

.home .trending .container .left-box .header h2 {
    text-transform: uppercase;
    margin: 5px;
    color: #232323;
    font-size: 16px;
    cursor: pointer;
}

.home .trending .container .left-box .header .cate {
    display: flex;
    margin-top: 5px;
}

.home .trending .container .left-box .header .cate h3 {
    text-transform: uppercase;
    margin: 10px;
    color: #232323;
    font-size: 14px;
    cursor: pointer;
    transition: .5s;
}

.home .trending .container .left-box .header .cate h3:hover {
    color: #cd1e76;
}

.home .trending .container .left-box .products {
    max-width: 100%;
}

.home .trending .container .left-box .products .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.home .trending .container .left-box .products .container .box {
    width: 195px;
    height: 295px;
    padding: 10px 10px;
    border: 2px solid #f6f7f8;
    margin-top: 20px;
    margin-left: 20px;
    overflow: hidden;
    border-radius: 5px;
}

.home .trending .container .left-box .products .container .box .img-box {
    display: flex;
}

.home .trending .container .left-box .products .container .box .img-box img {
    width: 190px;
    height: 190px;
    object-fit: cover;
}

.home .trending .container .left-box .products .container .box .img-box .icon {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-bottom: 10px;
    transition: .5s;
}

.home .trending .container .left-box .products .container .box:hover .img-box .icon {
    margin-left: -30%;
}

.home .trending .container .left-box .products .container .box .img-box .icon .icon-box {
    padding: 10px 10px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, .24) 0px 3px 8px;
    z-index: 1;
    background: #fff;
    color: #cd1e76;
    transition: .5s;
}

.home .trending .container .left-box .products .container .box .img-box .icon .icon-box:hover {
    color: #fff;
    background: #cd1e76;
}

.home .trending .container .left-box .products .container .box .info {
    padding: 10px 10px;
    margin-left: 10px;
}

.home .trending .container .left-box .products .container .box .info h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: #232323;
    font-weight: 300;
    letter-spacing: 1px;
}

.home .trending .container .left-box .products .container .box .info p {
    color: #cd1e76;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 5px;
}

.home .trending .container .left-box .products .container .box .info .btn {
    margin-top: 10px;
    margin-left: 20px;
    padding: 5px 20px;
    align-items: center;
    background: #fed700;
    border: none;
    outline: none;
    color: #232323;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
}

.home .trending .container .left-box .products .container .box .info .btn:hover {
    background: #cd1e76;
    color: #f6f7f8;
}

.home .trending .container .left-box .products button {
    margin-top: 20px;
    margin-left: 45%;
    padding: 10px 30px;
    background: #cd1e76;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

.home .trending .container .left-box .products button:hover {
    background: #fed700;
    color: #232323;
}

.home .trending .container .right-box {
    padding: 10px 20px;
    width: 24%;
}

.home .trending .container .right-box .container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home .trending .container .right-box .container .testimonial {
    width: 100%;
}

.home .trending .container .right-box .container .testimonial .head {
    padding: 10px 10px;
    width: 100%;
    background: #f6f7f8;
}

.home .trending .container .right-box .container .testimonial .head h3 {
    text-transform: uppercase;
    font-size: 16px;
    color: #232323;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 10px;
}

.home .trending .container .right-box .container .testimonial .details {
    padding: 10px 20px;
}

.home .trending .container .right-box .container .testimonial .details .img-box img {
    margin-left: 50px;
}

.home .trending .container .right-box .container .testimonial .details .info {
    margin-top: 10px;
}

.home .trending .container .right-box .container .testimonial .details .info h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #232323;
}

.home .trending .container .right-box .container .testimonial .details .info h4 {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    color: #cd1e76;
}

.home .trending .container .right-box .container .testimonial .details .info p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #232323;
}

.home .trending .container .right-box .container .news-letter {
    width: 100%;
    margin-top: 20px;
    color: #f6f7f8;
    padding: 10px 10px;
}

.home .trending .container .right-box .container .news-letter .head {
    margin-top: 20px;
    padding: 10px 10px;
}

.home .trending .container .right-box .container .news-letter .head h3 {
    text-align: center;
    color: #232323;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 16px;
}

.home .trending .container .right-box .container .news-letter .form {
    margin-top: 20px;
    width: 100%;
}

.home .trending .container .right-box .container .news-letter .form p {
    text-transform: capitalize;
    color: #8a8a8a;
    text-align: center;
}

.home .trending .container .right-box .container .news-letter .form input {
    margin-top: 10px;
    padding: 10px 10px;
    width: 100%;
    background: none;
    outline: none;
    border: 1px solid #8a8a8a;
    color: #232323;
}

.home .trending .container .right-box .container .news-letter .form button {
    margin-top: 10px;
    margin-left: 60px;
    padding: 10px 30px;
    border: none;
    outline: none;
    background: #fed700;
    color: #232323;
    cursor: pointer;
    font-weight: 600;
}

.home .trending .container .right-box .container .news-letter .form .icon-box {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.home .trending .container .right-box .container .news-letter .form .icon-box .icon {
    padding: 8px 10px;
    border-radius: 50%;
    border: 1px solid #cd1e76;
    color: #cd1e76;
    margin-bottom: 25px;
    cursor: pointer;
    transition: .5s;
}

.home .trending .container .right-box .container .news-letter .form .icon-box .icon:hover {
    color: #fff;
    background: #cd1e76;
}

.home .banner {
    padding: 20px 30px;
    width: 100%;
}

.home .banner .container {
    width: 100%;
    display: flex;
}

.home .banner .container .left-box {
    width: 24%;
}

.home .banner .container .left-box .box {
    margin-top: 10px;
}

.home .banner .container .right-box {
    width: 75%;
}

.home .banner .container .right-box .top {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.home .banner .container .right-box .bottom {
    max-width: 100%;
    margin-top: 10px;
}

.home .banner .container .right-box .bottom img {
    width: 100%;
    object-fit: cover;
}

.home .product-type {
    width: 100%;
    padding: 20px 30px;
}

.home .product-type .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.home .product-type .container .box {
    width: 380px;
    height: 550px;
    border: 3px solid #f6f7f8;
    padding: 10px 10px;
    overflow: hidden;
}

.home .product-type .container .box .header {
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    padding: 10px 10px;
}

.home .product-type .container .box .header h2 {
    color: #232323;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.home .product-type .container .box .product-box {
    width: 100%;
    height: 120px;
    padding: 10px 10px;
    border: 1px solid #f6f7f8;
    display: flex;
}

.home .product-type .container .box .product-box .img-box img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.home .product-type .container .box .product-box .details {
    margin-left: 30px;
}

.home .product-type .container .box .product-box .details h3 {
    color: #8a8a8a;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.home .product-type .container .box .product-box .details p {
    margin-top: 5px;
    letter-spacing: 1px;
    color: #cd1e76;
    font-size: 14px;
    font-weight: 600;
}

.home .product-type .container .box .product-box .details .icon {
    margin-top: 10px;
    display: flex;
}

.home .product-type .container .box .product-box .details .icon button {
    outline: none;
    background: none;
    border: none;
    padding: 10px 10px;
    margin-left: 10px;
    border-radius: 50%;
    color: #8a8a8a;
    cursor: pointer;
    transition: .5s;
}

.home .product-type .container .box .product-box .details .icon button:hover {
    color: #232323;
    background: #f6f7f8;
}